replicaCount: 1

image:
  repository: "spring-boot-helloworld"
  tag: "v1"
  pullPolicy: IfNotPresent

deployment:
  name: spring-boot-helloworld
  port: 8080

service:
  name: spring-boot-helloworld
  type: NodePort
  port: 9091
  nodePort: 31000